<ion-header>
  <ion-toolbar color="rise">
    <ion-buttons slot="secondary">
        <ion-button color="secondary" (click)="closeModal()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
    </ion-buttons>
      
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="filtros">
    <ion-item class="codigo">
      <ion-label position="floating">Codigo</ion-label>
      <ion-input clearInput [(ngModel)]="fCodigo" (ionChange)="filtrando(0)"></ion-input>
    </ion-item>
    <ion-item class="descripcion">
        <ion-label position="floating">Descripcion</ion-label>
        <ion-input clearInput [(ngModel)]="fDescripcion" (ionChange)="filtrando(1)"></ion-input>
      </ion-item>
  </div>

  <div  class="Productos ">
      <ion-grid class="wrapper">
        <ion-row class="box blue" >
            <ion-col>
              Codigo
            </ion-col>
            <ion-col size="6">
              Descripcion
            </ion-col>
            <ion-col>
              Existencia
            </ion-col>
            <ion-col>
              Costo
            </ion-col>
        </ion-row>
        <div scrollY="true" class="listProd">
            <ion-row  *ngFor="let prod of productosShow" (click)="productoSeleccionado(prod)"  class="box">
                <ion-col>
                  {{prod.codigo}}
                </ion-col>
                <ion-col size="6">
                  {{prod.Descripcion}}
                </ion-col>
                <ion-col>
                  {{prod.Existencia}}
                </ion-col>
                <ion-col>
                  {{prod.Costo}}
                </ion-col>
              </ion-row>
        </div>
        
      </ion-grid>
  </div>
</ion-content>
