<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
        <ion-button color="secondary" (click)="closeModal()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
    </ion-buttons>
      
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="filtros">
    <ion-item class="codigo">
      <ion-label position="floating">Codigo</ion-label>
      <ion-input clearInput [(ngModel)]="fCodigo" (ionChange)="filtrando(0)"></ion-input>
    </ion-item>
    <ion-item class="descripcion">
        <ion-label position="floating">Descripcion</ion-label>
        <ion-input clearInput [(ngModel)]="fDescripcion" (ionChange)="filtrando(1)"></ion-input>
      </ion-item>
  </div>

  <div>
    <ion-grid>
      <ion-row>
          <ion-col>
            Codigo
          </ion-col>
          <ion-col>
            Descripcion
          </ion-col>
          <ion-col>
            Existencia
          </ion-col>
          <ion-col>
            Costo
          </ion-col>
      </ion-row>
      <ion-row *ngFor="let prod of productos" (click)="productoSeleccionado(prod.codigo)" >
        <ion-col>
          {{prod.codigo}} , {{prod.Visible}}
        </ion-col>
        <ion-col>
          {{prod.Descripcion}}
        </ion-col>
        <ion-col>
          {{prod.Existencia}}
        </ion-col>
        <ion-col>
          {{prod.Costo}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
