<ion-content padding class="loginback">
  <div>
    <ion-card class="contenido">
      <ion-card-content>
        <ion-item>
          <ion-label position="floating"><ion-icon name="person"></ion-icon> Usuario</ion-label>
          <ion-input  [(ngModel)]="usr"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating"><ion-icon name="key"></ion-icon> Contraseña</ion-label>
          <ion-input type="password"  [(ngModel)]="pass"></ion-input>
        </ion-item>
        <div class="boton">
          <ion-button (click)="IniciarSesion()" color="secondary">Iniciar sesion</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  
</ion-content>