@font-face {
    font-family: 'Lato-Light';
    src: url('https://fonts.googleapis.com/css?family=Montserrat') format('embedded-opentype'), url('https://fonts.googleapis.com/css?family=Montserrat') format('woff'), url('https://fonts.googleapis.com/css?family=Montserrat') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.contenido{
    --ion-font-family: 'Montserrat', sans-serif !important;
    width: 50%;
    max-width: 500px;
    min-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    ion-item{
        width:80%;
        display: block;
        margin-left:auto;
        margin-right: auto;
    }
    ion-button{
        width:150px;
        display: block;
        margin-left:auto;
        margin-right: auto;
        margin-top: 10%;
    }
    --background: white;
}
.loginback{
    --background: #8099c5;

}