<ion-menu side="start" menuId="first">
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item menuClose (click)="goPage('modificar-inventario')">Ingresar a Inventario</ion-item>
      <ion-item (click)="ConexionServidor()">Conexion Servidor</ion-item>
      <ion-item (click)="CerrarSesion()">Cerrar sesion</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-app>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
