
  ion-toolbar{
    background-color: #8099c5;
    color:white;
  }

  ion-card{
    width:70%;
    margin-left: auto;
    margin-right:auto;
  }

ion-card-header, ion-toolbar{
    font-family: "Montserrat", sans-serif;
}
ion-card-content{
    font-size: 7em;
    text-align: center;
    color: #7e96bc;
}