<ion-header>
  <ion-toolbar color="rise">
    <ion-menu-button slot="start">
      <ion-icon name="menu"></ion-icon>
    </ion-menu-button>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content padding>

    <ion-card color="light" (click)="goPage('modificar-inventario')">
        <ion-card-header>
          <ion-card-title>Ingresar a Inventario</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Podra ingresar productos a inventario.
        </ion-card-content>
    </ion-card>

    <ion-card color="light">
        <ion-card-header>
          <ion-card-title>Registrar Venta</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Registrar Venta de producto.
        </ion-card-content>
    </ion-card>

    <ion-card color="light" (click)="goPage('reporte-movimientos')">
        <ion-card-header>
          <ion-card-title>Movimientos</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Ver Movimientos del dia.
        </ion-card-content>
    </ion-card>

 <!-- <ion-list>
    <ion-item *ngFor="let prod of productos">
      {{prod.Descripcion}}
    </ion-item>
  </ion-list> -->
  
</ion-content>